@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-family: 'Open Sans', sans-serif;
  background: #FFF;
  margin-bottom: 30px;
}

header {
  background: #2F2235;
}

header h1 {
  font-weight: 300;
}

header span {
  color: #34D1D1;
}

#title-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  width: 90%;
}

/*************************ACCORDION TABS***************/

.challenge-name {
  position: relative;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-weight: 300;
  font-size: 1.2em
}

.challenge-name p {
  width: 15%;
}

.challenge-name hr {
  width: 85%
}

img {
  width: 25%;
  height: 40%;
}

#tab-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

article {
  width: 90%;
  margin: 0 auto;
}

.tab-name {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #D1D2D3;
  border-right: 1px solid #FFF;
  font-size: 1.4em;
  color: #666666;
  background: #F2F2F2;
  font-weight: 300;
  cursor: pointer;
}

.tabs {
  display: none;
  width: 391.25%;
  padding: 8% 0 8% 8%;
  background: #FFF;
}

.tabs h2 {
  width: 90%;
  margin: 20px auto;
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: 600;
  border-bottom: 1px solid #D1D2D3;
}

.tabs p {
  width: 90%;
  margin: 0 auto 15px auto;
  font-size: 0.8em;
  line-height: 24px;
}

#tab-2 {
  margin-left: -100%;
}

#tab-3 {
  margin-left: -200%;
}

#tab-4 {
  margin-left: -300%;
}

.show-header {
  background: #FFF;
  border: 1px solid #D1D2D3;
  border-bottom: none;
  font-weight: 600;
}


.show-tab {
  display: flex;
  border: 1px solid #D1D2D3;
  border-top: none;
}

a {
  text-decoration: none;
  display: block;
  width: 300px;
  margin: 5% auto 20px;
  padding: 15px 0;
  background: #2F2235;
  color: #FFF;
  text-align: center;
  font-weight: 300;
}

/*****************************FLEX CARDS*****************************/

#flex-cards-wrapper {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}

.flex-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #D1D2D3;
  margin: 10px;
}

.flex-card h2 {
  padding: 0 10px;
  margin: 0;
  line-height: 50px;
  border-bottom: 2px solid #D1D2D3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #FFF;
}

.flex-card img {
  height: 200px;
  width: 100%;
}

.big-card {
  width: 61.7%;
  margin-right: 0.7%;
}

.small-card {
  width: 30%;
  margin-right: 0.5%;
}

/************************HEADER BAR**************************/

#header-bar {
  background: #D1D2D3;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

#header-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

#menu-tab p {
  display: none;
}

#nav-tab {
  display: flex;
  width: 85%;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-around;
  padding: 0;
  color: #666666;
}

#search-wrapper {
  position: relative;
}

#search-wrapper input {
  height: 30px;
  border: 1px solid #D1D2D3;
}

#search-wrapper img {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 8px;
  left: 5px;
}

/*******************MEDIA QUEIRIES*****************/

@media (max-width: 630px) {
  /*******************FLEX CARDS*****************/
  .big-card,
  .small-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 530px) {

  #challenge-name {
    position: relative;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-weight: 300;
    font-size: 0.8em;
  }

  #challenge-name p {
    width: 100%;
    text-align: center;
  }

  #challenge-name hr {
    width: 25%
  }

/******************ACCORDION TABS************************/
  #tab-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .tabs {
    width: 99%;
    padding: 0;
  }

  .show-tab {
    flex-direction: column;
    border: 1px solid #D1D2D3;
  }

  #tab-2 {
    margin-left: 0;
  }

  #tab-3 {
    margin-left: 0;
  }

  #tab-4 {
    margin-left: 0;
  }

  img {
    width: 100%;
    height: 100px;
  }

  a {
    width: 72%;
  }
}


/**************************HEADER BAR*************************/
@media (max-width: 990px) {
  ul {
    width: 70%;
  }

  #nav-tab {
    width: 90%;
  }
}

@media (max-width: 840px) {
 #header-bar {
   flex-direction: column;
   height: auto;
   padding: 0;
   align-items: center;
 }

 #menu-tab {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
 }

 #menu-tab img {
   margin-left: 20px;
   width: 60px;
   height: 60px;
 }
 #menu-tab p {
   display: inline-block;
   margin-right: 20px;
   color: #666666;
 }

 ul {
   flex-direction: column;
 }

 #middle-link {
   margin-top: 30px;
   margin-bottom: 30px;
 }

 #nav-tab {
   flex-direction: column;
   background: #F2F2F2;
   width: 92%;
   align-items: flex-start;
   padding: 4%;
   display: none;
 }

 #search-wrapper {
   width: 100%;
   margin-top: 10px;
 }

 #search-wrapper input {
   width: 98%;
 }
}
